RewriteEngine On

RewriteCond %{THE_REQUEST} "^[A-Z]{3,9}\s+/index\.html(\?| )"
RewriteRule ^index\.html$ home/ [R=301,L]

RewriteCond %{THE_REQUEST} "^[A-Z]{3,9}\s+(/[^\s]+)\.html(\?| )"
RewriteRule ^([^/]+)\.html$ $1/ [R=301,L]

RewriteCond %{REQUEST_URI} !\.[^/]+$ [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)$ $1/ [R=301,L]

RewriteRule ^home/$ index.html [NC,L]

RewriteCond %{REQUEST_URI} !^/$

RewriteCond %{REQUEST_URI} !^/home/$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/$ $1.html [NC,L]
